<div class="bg-white rounded-lg overflow-hidden shadow-md" *ngIf="product$ | async as product">
  <div class="p-4 font-bold text-lg">
    {{ pageTitle }}
  </div>

  <div class="p-4">
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">Name:</div>
      <div class="col-span-4">{{ product.productName }}</div>
      <div class="col-span-3">
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="addToCart(product)">Add to Cart</button>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">Code:</div>
      <div class="col-span-4">{{ product.productCode }}</div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">Description:</div>
      <div class="col-span-4">{{ product.description }}</div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">Price:</div>
      <div class="col-span-4">{{ product.price | currency:"USD":"symbol" }}</div>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">In Stock:</div>
      <div class="col-span-4">{{ product.quantityInStock ?? 0 }}</div>
    </div>

    <div class="mt-4">
      <div class="table-responsive">
        <table class="table mb-0" *ngIf="product.reviews; else noReviews">
          <thead>
            <tr>
              <th>Review</th>
              <th>Username</th>
              <th>Text</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let review of product.reviews">
              <td>{{ review.title }}</td>
              <td>{{ review.userName }}</td>
              <td>{{ review.text }}</td>
            </tr>
          </tbody>
        </table>

        <ng-template #noReviews>
          <p class="mt-4">No reviews for this product</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div class="bg-white rounded-lg overflow-hidden shadow-md" *ngIf="errorMessage">
  <div class="p-4 font-bold text-lg">
    Product Detail
  </div>
</div>

<div class="mt-4 bg-red-100 p-4" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
