<div *ngIf="item() as cartItem" class="mb-2">
  <div class="flex items-center">
    <div class="w-1/4">
      {{ cartItem.product.productName }}
    </div>
    <div class="w-1/6 text-center">
      {{ cartItem.product.price | currency }}
    </div>
    <div class="w-1/6 text-center">
      <select
        class="form-select"
        aria-label="Quantity list"
        style="margin-bottom: 10px; width: 60px; margin: 0 auto;"
        [ngModel]="cartItem.quantity"
        (ngModelChange)="onQuantitySelected($event)"
      >
        <option disabled value="">--Select a quantity--</option>
        <option *ngFor="let q of qtyArr()">{{ q }}</option>
      </select>
    </div>
    <div class="w-1/6 text-center">
      {{ exPrice() | currency }}
    </div>
    <div class="w-1/6">
      <button class="bg-yellow-500 text-white px-4 py-2 rounded" (click)="removeFromCart()">
        Delete
      </button>
    </div>
  </div>
</div>
