<div class="border border-secondary p-4">
  <div class="text-secondary font-bold">
    {{ pageTitle }}
  </div>

  <div class="mt-4">
    <div *ngIf="cartItems().length; else noItems">
      <div class="flex">
        <div class="w-1/4 font-bold">Product</div>
        <div class="w-1/6 font-bold text-center">Price</div>
        <div class="w-1/6 font-bold text-center">Quantity</div>
        <div class="w-1/6 font-bold text-center">Extended Price</div>
      </div>

      <!-- Display the cart items -->
      <div *ngFor="let item of cartItems()" class="mt-2">
        <app-cart-item [cartItem]="item" />
      </div>
    </div>
  </div>

  <ng-template #noItems>
    <p class="mt-4">No items in cart</p>
  </ng-template>
</div>
